*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto';
}

body{
  background: rgb(63,94,251);
background: radial-gradient(circle, rgba(63,94,251,1) 0%, rgba(252,70,107,1) 100%);
}


.container{
  margin: 50px auto;
  text-align: center;
  border: 3px solid red;
  /*height: 90vh;*/
  width: 70vw;
  padding: 20px;
}

.page-title{
  color: #FFF;
  margin-bottom: 15px;
  font-size: 30px;
  background-color: #B64FA1;
  -webkit-box-shadow: 5px 5px 9px 1px rgba(0,0,0,0.58); 
  box-shadow: 5px 5px 9px 1px rgba(0,0,0,0.58);
  line-height: 50px;
}
.page-subtitle{
  color:black;
  font-size: 18px;
}

.page-logo{
  margin-top: 10px;
  width: 250px;
}

input{
  display: block;
  margin: 20px auto;
  width: calc(60%);
  height: 40px;
  -webkit-box-shadow: 5px 5px 9px 1px rgba(0,0,0,0.58); 
  box-shadow: 5px 5px 9px 1px rgba(0,0,0,0.58);
  outline: none;
  border: none;
  padding-left: 20px;
  font-size: 18px;
  text-align: center;
  
}


button{
  width: 150px;
  height: 40px;
  margin-bottom: 10px;
  background-color:#FADA06;
  border-radius: 5px;
  border: none;
  -webkit-box-shadow: 5px 5px 9px 1px rgba(0,0,0,0.58); 
  box-shadow: 5px 5px 9px 1px rgba(0,0,0,0.58);
  color:#FFF;
  font-weight: bold;
  letter-spacing: 3px;
  cursor: pointer;

}

button:hover{
  opacity: 0.9;
}

button:active{
  opacity: 0.8;
}


.result{
  font-size: 1.34em;
  color: #FFF;
}

@media (max-width:500px){
  .page-title{
    background-color: #B64FA1;
    color: #FFF;
    margin-bottom: 15px;
    font-size: 1.5em;
    -webkit-box-shadow: 5px 5px 9px 1px rgba(0,0,0,0.58); 
    box-shadow: 5px 5px 9px 1px rgba(0,0,0,0.58);
  }

  .page-logo{
    margin-top: 10px;
    width: 150px;
  }

  input{
    width: calc(80%);
  }

  button{
    width: calc(80%);
  }
  
  
}


@media (max-width:251px){
  .page-logo{
    display: none;
  }
}